:root {
  --fav-star-default: #999;
  --fav-star-active: #edc500;
  --fav-star-exclude: #e74c3c;

  --fav-border-default: #d4d4d4;
  --fav-border-active: #ffd700;
}

/* ========================
   FAVORITE STAR ICON
=========================== */

.swagger-fav-star {
  cursor: pointer;
  font-size: 18px;
  color: var(--fav-star-default);
  margin: 0 10px 0 4px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.swagger-favorite .swagger-fav-star {
  color: var(--fav-star-active);
}

/* ========================
   BORDER STYLES FOR BLOCKS
=========================== */

.swagger-fav-enabled .opblock-summary.opblock-summary {
  border-left: 4px solid var(--fav-border-default);
}

.swagger-fav-enabled .opblock-summary.swagger-favorite {
  border-left: 4px solid var(--fav-border-active) !important;
}

/* ========================
   COLLAPSE BUTTON OVERRIDE
=========================== */

.opblock-summary .opblock-summary-control {
  border: none !important;
}

.opblock-summary-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ========================
   FILTER CONTROL CONTAINER
=========================== */

.swagger-fav-control {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-family: sans-serif;
}

/* ========================
   FAVORITES FILTER BUTTON
=========================== */

.swagger-fav-filter-button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 1px 4px 4px 4px;
  opacity: 0.8;
}

/* === STATES === */

.swagger-fav-filter-button.state-0 {
  color: var(--fav-star-default);
}

.swagger-fav-filter-button.state-1 {
  color: var(--fav-star-active);
}

.swagger-fav-filter-button.state-2 {
  color: var(--fav-star-exclude);
}

/* ========================
   LABEL TEXT
=========================== */

.swagger-fav-label {
  cursor: pointer;
  margin-left: 4px;
  margin-right: 20px;
}

.swagger-fav-label.state-0 {
  color: var(--fav-star-default);
}

.swagger-fav-label.state-1 {
  color: var(--fav-star-active);
}

.swagger-fav-label.state-2 {
  color: var(--fav-star-exclude);
}

/* ========================
   FAVORITES LINK
=========================== */

.swagger-fav-reset,
.swagger-fav-all{
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-left: 0;
  color: var(--fav-star-default);
  margin-top: -2px;
  opacity: .6;
}

.swagger-fav-reset:hover {
  opacity: 1;
  color: var(--fav-star-exclude);
}

.swagger-fav-all:hover {
  opacity: 1;
  color: var(--fav-star-active);
}
