#swagger-github-link {
  margin-left: 12px;
  font-size: 13px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  color: #555;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

#swagger-github-link:hover {
  opacity: 1;
  color: black;
}

#swagger-github-link svg {
  fill: currentColor;
  margin-right: 4px;
}
